<%-include('layouts/header.ejs')-%>
<!--Navbar -->
<%-include('layouts/navbar.ejs')-%>

<div class="container">
    <br>
    <p class="text-dark" style="font-size:larger;color:black;font-weight: bold;text-decoration:underline;">Programming
        Books</p>
    <div class="row">
        <hr>
        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px;">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=1cHvAwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                        alt="Card image cap" style="height:140px;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">"Web Development with Node and express"</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">"Leveraging the JavaScript Stack"</p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>5</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white;"
                                    href="
                                    http://books.google.co.in/books?id=1cHvAwAAQBAJ&printsec=frontcover&dq=%7Bprogramming%7D&hl=&cd=1&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>Ethan Brown</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
            <!-- Card Narrower -->
        </div>
        <br>
        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=igYvDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                        alt="Card image cap" style="height:140px;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Python Crash Course</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">"A Hands-On, Project-Based Introduction to
                        Programming"</p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>5</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white;"
                                    href="
                                    http://books.google.co.in/books?id=igYvDwAAQBAJ&printsec=frontcover&dq=%7Bprogramming%7D&hl=&cd=3&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>"Eric Matthes"</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
            <!-- Card Narrower -->
        </div>
        <br>
        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=PSUNAAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                        alt="Card image cap" style="height:140px;">
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">The C++ Programming Language</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">The C++ Programm Lang_p4</p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>3.5</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white;"
                                    href="
                                    http://books.google.co.in/books?id=PSUNAAAAQBAJ&printsec=frontcover&dq=%7Bprogramming%7D&hl=&cd=5&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>Stroustrup</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
            <!-- Card Narrower -->
        </div>
        <hr>
        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=PrpJwgEACAAJ&printsec=frontcover&img=1&zoom=5&source=gbs_api"
                        alt="Card image cap" style="height:170px;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Flutter in Actions</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">Learn native mobile app development</p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>4.4</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white;"
                                    href="
                                    http://books.google.co.in/books?id=1cHvAwAAQBAJ&printsec=frontcover&dq=%7Bprogramming%7D&hl=&cd=1&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>Windmill</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
        </div>
    </div>














    <br>
    <p class="text-dark" style="font-size:larger;color:black;font-weight: bold;text-decoration:underline;">Digital
        marketing Books</p>
    <div class="row">
        <hr>
        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px;">
            <!-- Card -->
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=biwlDwAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                        alt="Card image cap" style="height:140px;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Digital Marketing Excellence</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">Planning, Optimizing and Integrating Online Marketing
                    </p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>5</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white;"
                                    href="http://books.google.co.in/books?id=biwlDwAAQBAJ&printsec=frontcover&dq=%7Bdigital+marketing%7D&hl=&cd=1&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>"D Chaffey",</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
            <!-- Card Narrower -->
        </div>









        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=vcU3AAAAQBAJ&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                        alt="Card image cap" style="height:140px;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Understanding Digital Marketing</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">Marketing Strategies for Engaging the Digital
                        Generation</p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>5</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white;"
                                    href="http://books.google.co.in/books?id=vcU3AAAAQBAJ&printsec=frontcover&dq=%7Bdigital+marketing%7D&hl=&cd=3&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>Calvin Jones</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
            <!-- Card Narrower -->
        </div>







        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=9lmR75vPpEAC&printsec=frontcover&img=1&zoom=1&edge=curl&source=gbs_api"
                        alt="Card image cap" style="height:160px;">
                    <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Marketing</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">Critical Perspectives on Business and Management</p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>3.5</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white" ;
                                    href="
                                    http://books.google.co.in/books?id=9lmR75vPpEAC&printsec=frontcover&dq=%7Bmarketing%7D&hl=&cd=1&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>MJ Bakerp</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
            <!-- Card Narrower -->
        </div>











        <div class="col col-md-3 col-xs-12 col-sm-12" style="margin-bottom:20px">
            <div class="card">

                <!-- Card image -->
                <div class="view overlay">
                    <img class="card-img-top"
                        src="http://books.google.com/books/content?id=8rVo0y1k48AC&printsec=frontcover&img=1&zoom=5&edge=curl&source=gbs_api"
                        alt="Card image cap" style="height:130px;">
                    <a>
                        <div class="mask rgba-white-slight"></div>
                    </a>
                </div>

                <!-- Button -->
                <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                        class="fas fa-chevron-right pl-1"></i></a>

                <!-- Card content -->
                <div class="card-body">

                    <!-- Title -->
                    <h4 class="card-title">Words of Wisdom:bussiness</h4>
                    <hr>
                    <!-- Text -->
                    <p class="card-text" style="overflow:inherit;">Learn how to make money with brains</p>

                </div>

                <!-- Card footer -->
                <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                    <ul class="list-unstyled list-inline font-small">
                        <li class="list-inline-item pr-2 white-text"><i class="fas fa-star pr-1"></i>4.4</li>
                        <li class="list-inline-item pr-2"><a href="#" class="white-text"><i
                                    class="far fa-comments pr-1"></i><a style="color:white;"
                                    href="http://books.google.co.in/books?id=8rVo0y1k48AC&pg=PT75&dq=%7Bbussiness%7D&hl=&cd=1&source=gbs_api"
                                    target="_blank">Preview</a></a>
                        </li>
                        <li class=" list-inline-item pr-2"><a href="#" class="white-text"><i class="fas fa-pen pr-1">
                                </i>ESENSI</a></li>
                    </ul>
                </div>

            </div>
            <!-- Card -->
        </div>
    </div>
    <br>
    <div class="row"></div>
</div>

<%-include('layouts/footer.ejs')-%>