<%-include('layouts/header.ejs')-%>
<style>
    html,
    body,
    header,
    .carousel {
        height: 60vh;
    }

    @media (max-width: 740px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {

        html,
        body,
        header,
        .carousel {
            height: 100vh;
        }
    }

    @media (min-width: 800px) and (max-width: 850px) {
        .navbar:not(.top-nav-collapse) {
            background: #1C2331 !important;
        }
    }

    .view,
    body,
    html {
        height: 100%
    }

    @media (max-width:740px) {
        .full-page-intro {
            height: 1000px
        }
    }

    .carousel {
        height: 50%
    }

    .carousel .carousel-inner,
    .carousel .carousel-inner .active,
    .carousel .carousel-inner .carousel-item {
        height: 100%
    }

    @media (max-width:776px) {
        .carousel {
            height: 100%
        }
    }

    .navbar {
        background-color: rgba(0, 0, 0, .3)
    }

    .page-footer,
    .top-nav-collapse {
        background-color: #1C2331
    }

    @media only screen and (max-width:768px) {
        .navbar {
            background-color: #1C2331
        }
    }
</style>

<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
    <div class="container">

        <!-- Brand -->
        <a class="navbar-brand" href="https://mdbootstrap.com/material-design-for-bootstrap/" target="_blank">
            <strong>TeXplorer</strong>
        </a>

        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <!-- Left -->
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" target="_blank">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" target="_blank">Contact us
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="" target="_blank">More</a>
                </li>
            </ul>

            <!-- Right -->
            <ul class="navbar-nav nav-flex-icons">
                <li class="nav-item" style="margin-right:5px;">
                    <a href="/signin" class="nav-link border border-light rounded">
                        <i class="fas fa-user-lock mr-2"></i></i>Login
                    </a>
                </li>

                <li class="nav-item">
                    <a href="/signup" class="nav-link border border-light rounded">
                        <i class="fas fa-lock mr-2"></i>Register
                    </a>
                </li>
            </ul>

        </div>

    </div>
</nav>
<!-- Navbar -->

<!--Carousel Wrapper-->
<div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">

    <!--Indicators-->
    <ol class="carousel-indicators">
        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
    </ol>
    <!--/.Indicators-->

    <!--Slides-->
    <div class="carousel-inner" role="listbox">

        <!--First slide-->
        <div class="carousel-item active">
            <div class="view"
                style="background-image:url('https://pacific-fjord-91364.herokuapp.com/static/images/austin-distel-21GWwco-JBQ-unsplash.jpg'); background-repeat: no-repeat; background-size:cover;">

                <!-- Mask & flexbox options-->
                <div class="mask rgba-black-light d-flex justify-content-center align-items-center">

                    <!-- Content -->
                    <div class="text-center white-text mx-5 wow fadeIn">
                        <h1 class="mb-4">
                            <strong>Explore everthing in TeXplorer</strong>
                        </h1>

                        <p>
                            <strong>Explore Best & free trending courses</strong>
                        </p>

                        <a href="#" class="btn btn-outline-white btn-lg">Start
                            your journey
                            <i class="fas fa-graduation-cap ml-2"></i>
                        </a>
                    </div>
                    <!-- Content -->

                </div>
                <!-- Mask & flexbox options-->

            </div>
        </div>
        <!--/First slide-->

    </div>

</div>
<!--/.Carousel Wrapper-->

<!--Main layout-->
<main>
    <div class="container">

        <!--Section: Main info-->
        <section class="mt-5 wow fadeIn">

            <!--Grid row-->
            <div class="row">

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <img src="https://learnworthy.net/wp-content/uploads/2020/03/https-learnworthy.netcontact-us.png"
                        class="img-fluid z-depth-1-half" alt="">

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-6 mb-4">

                    <!-- Main heading -->
                    <h3 class="h3 mb-3">Best courses and books</h3>
                    <p>This platform gives you the best online courses and books that are trending now
                        <strong>TeXplorer</strong></p>
                    <p>Read more about the <strong>TeXplorer</strong> now</p>
                    <!-- Main heading -->

                    <hr>

                    <p>
                        <strong>Free for personal and commercial use.</strong>
                    </p>

                    <!-- CTA -->
                    <a target="_blank" href="/signin" class="btn btn-indigo btn-md">Login
                        <i class="fas fa-user-lock ml-1"></i>
                    </a>
                    <a target="_blank" href="" class="btn btn-indigo btn-md">About us
                        <i class="fas fa-image ml-1"></i>
                    </a>

                </div>
                <!--Grid column-->

            </div>
            <!--Section: Not enough-->

            <hr class="mb-5">

            <!--Section: More-->
            <section>

                <h2 class="my-5 h3 text-center">...and even more</h2>

                <!--First row-->
                <div class="row features-small mt-5 wow fadeIn">

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-folder-plus fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2 pl-3">
                                <h5 class="feature-title font-bold mb-1">100+ Online Courses</h5>
                                <p class="grey-text mt-2">We have 100+ online courses which are absolutely free of cost
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-star fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="feature-title font-bold mb-1">Best Tutors</h5>
                                <p class="grey-text mt-2">TeXplorer brings you the best tutors for you to guide in the
                                    professional way of teaching
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-certificate fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="feature-title font-bold mb-1">Valid Certification</h5>
                                <p class="grey-text mt-2">You will get a free certificate which is globally valid
                                    through your carrier
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-pen-square fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="feature-title font-bold mb-1">Updated Content</h5>
                                <p class="grey-text mt-2">We will serve you the latest content with updated trending
                                    technology
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row features-small mt-4 wow fadeIn">

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-phone-square fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="feature-title font-bold mb-1">Contact with tutors</h5>
                                <p class="grey-text mt-2">Our tutors are available 24/7 to clarify your doubts and be
                                    with you till end of course</p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-book-open fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="feature-title font-bold mb-1">Tons of best books</h5>
                                <p class="grey-text mt-2">We will present you the tons of books to refer during your
                                    course
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-th fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="feature-title font-bold mb-1">Free access</h5>
                                <p class="grey-text mt-2">All the content and services in this platform are free of cost
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-3 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-tools fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2">
                                <h5 class="feature-title font-bold mb-1">Quick support</h5>
                                <p class="grey-text mt-2">We are here to help you in any technical problems in this
                                    platform don't hesitate to contact us</p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                </div>
                <!--/Second row-->

            </section>
            <!--Section: More-->

    </div>
</main>
<!--Main layout-->

<!--Footer-->
<footer class="page-footer text-center font-small mt-4 wow fadeIn">

    <!--Call to action-->
    <div class="pt-4">
        <a class="btn btn-outline-white" href="/signin" role="button">Login
            <i class="fas fa-download ml-2"></i>
        </a>
        <a class="btn btn-outline-white" href="/signup" target="_blank" role="button">Register
            <i class="fas fa-graduation-cap ml-2"></i>
        </a>
    </div>
    <!--/.Call to action-->

    <hr class="my-4">

    <!-- Social icons -->
    <div class="pb-4">
        <a href="" target="_blank">
            <i class="fab fa-facebook-f mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-twitter mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-youtube mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-google-plus-g mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-dribbble mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-pinterest mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-github mr-3"></i>
        </a>

        <a href="" target="_blank">
            <i class="fab fa-codepen mr-3"></i>
        </a>
    </div>
    <!-- Social icons -->

    <!--Copyright-->
    <div class="footer-copyright py-3">
        © 2018 Copyright:
        <a href="" target="_blank"> TeXplorer.com </a>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->



<%-include('layouts/footer.ejs')-%>